# Default values for Maven projects.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

 ## These are modified by jx to inject the docker repositor, don't modify them
image:
  repository: draft
  tag: dev
  pullPolicy: IfNotPresent
## --> end local image config
nuxeo:  
  replicaCount: 1
  service:
    name: jenkinsx-quickstart-nuxeo-poc
    type: ClusterIP
    externalPort: 80
    internalPort: 8080
    annotations:
      fabric8.io/expose: "true"
      fabric8.io/ingress.annotations: "kubernetes.io/ingress.class: nginx"
  probePath: /nuxeo/runningstatus
  livenessProbe:
    initialDelaySeconds: 100
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10
    timeoutSeconds: 10
  readinessProbe:
    periodSeconds: 10
    initialDelaySeconds: 100
    successThreshold: 1
    timeoutSeconds: 10
    failureThreshold: 3
  terminationGracePeriodSeconds: 10
   ## set deploy to false if you don't want mongodb deployment in your env
  mongodb:
    deploy: false
    dbname: nuxeo
  postgresql:
    deploy: true
    dbname: nuxeo
    username: nuxeo
    password: nuxeo
  elasticsearch:
    clusterName: elasticsearch
    indexName: nuxeo
    deploy: true 
  kafka:
    deploy: false

  custom_params: |-
    ## add any other params that go into nuxeo.conf


## Values from here can be customized https://github.com/helm/charts/blob/master/stable/mongodb/values.yaml
mongodb:
  usePassword: false

## Override values for postgresql from https://github.com/helm/charts/blob/master/stable/postgresql/values.yaml
postgresql:
  image:
    tag: 9.6.11
  initdbScripts:
    db-init.sql: |
      CREATE ROLE nuxeo WITH PASSWORD 'nuxeo' LOGIN;
      CREATE DATABASE nuxeo ENCODING 'UTF8' OWNER nuxeo;

## Override values from https://github.com/helm/charts/blob/master/stable/elasticsearch/values.yaml
## these are for a staging cluster only, but it needs 2 masters anyway
elasticsearch:
  appVersion: "6.2"
  client:
    replicas: 1
  master:
    replicas: 2 
  data:
    replicas: 1    

## Override values from https://github.com/helm/charts/blob/master/incubator/kafka/values.yaml
## staging values only, no need for 3 replicas and zoopkeper ( must be 1, 3, kafla needs zookeper)
kafka:
  replicas: 1
  zookeeper:
    replicaCount: 1
  prometheus:
    operator:
      enabled: false

prometheus:
  operator:
    enabled: false        

