# Default values for Maven projects.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

 ## These are modified by jx to inject the docker repositor, don't modify them
image:
  repository: draft
  tag: dev
  pullPolicy: IfNotPresent
## --> end local image config
nuxeo:  
  replicaCount: 1
  service:
    name: jenkinsx-quickstart-nuxeo-poc
    type: ClusterIP
    externalPort: 80
    internalPort: 8080
    annotations:
      fabric8.io/expose: "true"
      fabric8.io/ingress.annotations: "kubernetes.io/ingress.class: nginx"
  probePath: /nuxeo/runningstatus
  livenessProbe:
    initialDelaySeconds: 60
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10
    timeoutSeconds: 5
  readinessProbe:
    periodSeconds: 10
    initialDelaySeconds: 50
    successThreshold: 1
    timeoutSeconds: 1
    failureThreshold: 3
  terminationGracePeriodSeconds: 10
   ## set deploy to false if you don't want mongodb deployment in your env
  mongodb:
    deploy: false
    dbname: nuxeo
  custom_params: |-
    ## add any other params that go into nuxeo.co


## Values from here can be customized https://github.com/helm/charts/blob/master/stable/mongodb/values.yaml
mongodb:
  usePassword: false
