# Default values for Maven projects.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

 ## These are modified by jx to inject the docker repositor, don't modify them
image:
  repository: draft
  tag: dev
  pullPolicy: IfNotPresent
## --> end local image config
nuxeo:  
  replicaCount: 1
  service:
    name: jenkinsx-quickstart-nuxeo-poc
    type: ClusterIP
    externalPort: 80
    internalPort: 8080
    annotations:
      fabric8.io/expose: "true"
      fabric8.io/ingress.annotations: "kubernetes.io/ingress.class: nginx"
  probePath: /nuxeo/runningstatus
  livenessProbe:
    initialDelaySeconds: 60
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10
    timeoutSeconds: 5
  readinessProbe:
    periodSeconds: 10
    initialDelaySeconds: 50
    successThreshold: 1
    timeoutSeconds: 1
    failureThreshold: 3
  terminationGracePeriodSeconds: 10
   ## set deploy to false if you don't want mongodb deployment in your env
  mongodb:
    deploy: false
    dbname: nuxeo
  postgresql:
    deploy: true
    dbname: nuxeo
    username: nuxeo
    password: nuxeo
  elasticsearch:
    deploy: false 


  custom_params: |-
    ## add any other params that go into nuxeo.conf


## Values from here can be customized https://github.com/helm/charts/blob/master/stable/mongodb/values.yaml
mongodb:
  usePassword: false

## Override values for postgresql from https://github.com/helm/charts/blob/master/stable/postgresql/values.yaml
postgresql:
  image:
    tag: 9.6.11
  postgresqlPassword: admin
  postgresqlDatabase: postgres
  initdbScripts:
    db-init.sql: |
      CREATE ROLE nuxeo WITH PASSWORD 'nuxeo' LOGIN;
      CREATE DATABASE nuxeo ENCODING 'UTF8' OWNER nuxeo;

## Override values from https://github.com/helm/charts/blob/master/stable/elasticsearch/values.yaml
elasticsearch:
  appVersion: "6.2"      

